/* Home.css */

.Page {
    display: flex;
    border: 1px solid #2F204c;
    margin-left: -2px;
    width: 100%;
  }
  
  .Text-Area {
    color: #2F204C;
    background-color: #D8E3F9; /* Light Purple Background Color */
    padding: 30px; /* Add padding for spacing */
    text-align: center; /* Center align text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  .img {
    flex: 1; /* Take up available space on the right */
    max-width: 40%; /* Ensure the image does not exceed its container */
  }

  
  h1{
    font-size:80px;
  }

  h2{
    font-size:30px;
    font-weight: 500;
  }

  p{
    font-size: 20px;
    font-weight: 500;
  }